<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="All-Tests" verbose="1" >
  <test name="Login_Test_Positive" >
    <classes>
       <class name="com.herokuapp.theinternet.Login_Test_Positive"/>
    </classes>
  </test>
 
  <test name="Login_Test_Negative">
    <classes>
      <class name="com.herokuapp.theinternet.Login_Test_Negative"/>
    </classes>
  </test>
</suite>
